@model PagedList.IPagedList<MaintenanceTicketSystem.Models.t_tickets>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div id="bienvenida" class="row align-items-center" style="display:none">

        <div class="col-md-10 ml-2 align-self-center">

            <h1 style="font-size:3.5rem">Bienvenido @Session["UserFirstName"].ToString()</h1>

           
                <p class="lead" style="font-size:2rem">Tickets pendientes por autorizar</p>

        </div>
        <div class="col-md-1 align-self-center mr-2">
            <img src="~/img/logo3.png" width="120" height="120" alt="" />
        </div>
    </div>

</div>





<!-- Search Box-->
@using (Html.BeginForm("Autorizar", "Home", FormMethod.Get))
{
    <div class="form-group row ml-1">
        <div class="col-xs-2">
            <select class="form-control" id="SearchOption" name="SearchOption">
                @if (ViewBag.CurrentSearch != null)
                {
                    <option>@ViewBag.CurrentSearch</option>
                    
                        if (ViewBag.CurrentSearch == "Folio")
                        {
                            <option>Usuario</option>
                            <option>Categoría</option>
                        }
                        if (ViewBag.CurrentSearch == "Usuario")
                        {
                            <option>Folio</option>
                            <option>Categoría</option>
                        }
                        if (ViewBag.CurrentSearch == "Categoría")
                        {
                            <option>Folio</option>
                            <option>Usuario</option>
                        }
                  
                }
                else
                {
                        <option>Folio</option>
                        <option>Usuario</option>
                        <option>Categoría</option>
                }

            </select>
        </div>
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
        <input type="submit" value="Buscar" class="btn btn-outline-primary" />
    </div>
}


    <p>
        @Html.ActionLink("Crear Nuevo", "Create", "t_tickets") | @Html.ActionLink("Mis Tickets", "Index", "Home")
    </p>
    <table class="table table-hover">
        <tr>
            <th>
                @Html.ActionLink("Folio", "Autorizar", new { sortOrder = ViewBag.FolioSortParm, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch })
            </th>
            <th>
                @Html.ActionLink("Usuario", "Autorizar", new { sortOrder = ViewBag.UsuarioSortParm, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch })
            </th>
            <th>
                @Html.ActionLink("Estatus", "Autorizar", new { sortOrder = ViewBag.EstatusSortParm, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch })
            </th>
            <th>
                @Html.ActionLink("Ubicación", "Autorizar", new { sortOrder = ViewBag.UbicacionSortParm, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch })
            </th>
            <th>
                @Html.ActionLink("Fecha y hora", "Autorizar", new { sortOrder = ViewBag.FechaSortParm, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch })
            </th>
            <th>
                @Html.ActionLink("Departamento", "Autorizar", new { sortOrder = ViewBag.DepartamentoSortParm, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch })
            </th>
            <th>
                @Html.ActionLink("Categoría", "Autorizar", new { sortOrder = ViewBag.CategoriaSortParm, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch })
            </th>
            <th>
                @Html.ActionLink("Supervisor", "Autorizar", new { sortOrder = ViewBag.SupervisorSortParm, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch })
            </th>
            <th>
                @Html.ActionLink("Fecha Compromiso", "Autorizar", new { sortOrder = ViewBag.FCompromisoSortParm, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch })
            </th>
            <th>
                @Html.ActionLink("Prioridad", "Autorizar", new { sortOrder = ViewBag.PrioridadSortParm, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch })
            </th>



        </tr>

        @foreach (var item in Model)
        {
            string editt = "Edit";
            if (item.depto == "SIS")
            {
                editt = "EditSis";
            }

            <tr class="table-row" style="cursor:pointer;" data-href=@Url.Action(editt, "t_tickets", new { id = item.folio, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch, autorizar = true  }, null)>
                <td>
                    @if (item.depto == "MAN")
                    {
                        @Html.ActionLink(item.folio.ToString(), "Edit", "t_tickets", new { id = item.folio, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch, autorizar = true }, null)
                    }
                    @if (item.depto == "SIS")
                    {
                        @Html.ActionLink(item.folio.ToString(), "EditSis", "t_tickets", new { id = item.folio, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch, autorizar = true }, null)
                    }
                    @if (item.urgencia.ToString() != "0")
                    {
                        <span class="badge badge-pill badge-warning">!</span>
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.u_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.t_estatus.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.t_areas.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.t_depto.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.t_catego.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.t_usuarios1.nombre)
                </td>
                <td>
                    @Convert.ToString(string.Format("{0:MM/dd/yyyy}", item.f_compromiso))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prioridad)
                </td>
            </tr>
        }

    </table>


<!--Página-->
<div class="ml-1">
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Autorizar",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch }))
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(document).ready(function () {
    $("#bienvenida").fadeIn(3000);
    $(".table-row").click(function () {
        window.document.location = $(this).data("href");
    });
    });
</script>
