@model PagedList.IPagedList<MaintenanceTicketSystem.Models.t_tickets>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Home Page";
    }

    <div id="alertnuevoticket" class="alert alert-success alert-dismissible fade in" role="alert">
        <strong>Bien!</strong> Tu ticket se generó correctamente con el folio @ViewBag.numticket
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

<div id="alertticketerror" class="alert alert-danger alert-dismissible fade in" role="alert">
    <strong>Vaya!</strong> Hubo un error en el proceso. Intentar de nuevo 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<div id="alertticketeditado" class="alert alert-success alert-dismissible fade in" role="alert">
    <strong>Bien!</strong> El ticket con el folio @ViewBag.numticket ha sido actualizado
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

@if (!ViewBag.IsUser)
{
    <h3>Tu cuenta no esta dada de alta en el sistema</h3>
}
else
{
    <div class="row animated fadeIn py-5 mb-4" style="background-image: url('img/Cover-HR-System21.png'); height:100%;background-position:right; background-repeat:no-repeat; background-size:cover; border-radius:20px ">
        

            <div class="col-md-10 ml-2 align-self-center">

                <h1 style="font-size:3.5rem">Bienvenido @Session["UserFirstName"].ToString()</h1>

                @if (Session["UserRol"].ToString() == "Supervisor")
                {
                    <p class="lead" style="font-size:2rem">@Session["CategoryDesc"].ToString() - Supervisor</p>
                }
                @if (Session["UserRol"].ToString() == "Usuario")
                {
                    <p class="lead" style="font-size:2rem">Tus tickets solicitados</p>
                }
                @if (Session["UserRol"].ToString() == "Admin")
                {
                    if (Session["Depto"].ToString() == "SIS")
                    {
                        <p class="lead" style="font-size:2rem">Sistemas - Admin</p>
                    }
                    if (Session["Depto"].ToString() == "MAN")
                    {
                        <p class="lead" style="font-size:2rem">Mantenimiento - Admin</p>
                    }
                }

            </div>
    
            <div class="col-md-1 d-flex justify-content-lg-end align-items-center">
                <img src="~/img/logo3.png" width="100" height="100" alt="" />
            </div>

    </div>

    <!-- Search Box-->
    using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
            <div class="form-group row ml-1">
                <div class="col-xs-2">
                    <select class="form-control" id="SearchOption" name="SearchOption">
                        @if (ViewBag.CurrentSearch != null)
                        {
                            <option>@ViewBag.CurrentSearch</option>

                            if (Session["UserRol"].ToString() == "Supervisor")
                            {
                                if (ViewBag.CurrentSearch == "Folio")
                                {
                                    <option>Usuario</option>
                                    <option>Descripción</option>
                                }
                                if (ViewBag.CurrentSearch == "Usuario")
                                {
                                    <option>Folio</option>
                                    <option>Descripción</option>
                                }
                                if (ViewBag.CurrentSearch == "Categoría")
                                {
                                    <option>Folio</option>
                                    <option>Usuario</option>
                                }
                            }
                            if (Session["UserRol"].ToString() == "Usuario")
                            {

                                if (ViewBag.CurrentSearch == "Folio")
                                {
                                    <option>Descripción</option>
                                }

                                if (ViewBag.CurrentSearch == "Categoría")
                                {
                                    <option>Folio</option>
                                }
                            }
                            if (Session["UserRol"].ToString() == "Admin")
                            {
                                if (ViewBag.CurrentSearch == "Folio")
                                {
                                    <option>Usuario</option>
                                    <option>Descripción</option>
                                }
                                if (ViewBag.CurrentSearch == "Usuario")
                                {
                                    <option>Folio</option>
                                    <option>Descripción</option>
                                }
                                if (ViewBag.CurrentSearch == "Categoría")
                                {
                                    <option>Folio</option>
                                    <option>Usuario</option>
                                }
                            }


                        }
                        else
                        {
                            if (Session["UserRol"].ToString() == "Usuario")
                            {
                                <option>Folio</option>
                                <option>Categoría</option>
                            }
                            if (Session["UserRol"].ToString() == "Supervisor")
                            {
                                <option>Folio</option>
                                <option>Usuario</option>
                                <option>Categoría</option>
                            }
                            if (Session["UserRol"].ToString() == "Admin")
                            {
                                <option>Folio</option>
                                <option>Usuario</option>
                                <option>Categoría</option>
                            }

                        }

                    </select>
                </div>
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
    }

    <div class="row">
        <div class="col-md-10">
            <p>
                @Html.ActionLink("Nuevo Ticket", "Create", "t_tickets") | @Html.ActionLink("Autorizaciones pendientes", "Autorizar", "Home") <span class="badge badge-danger">@ViewBag.tpendientes</span> 
            </p>
        </div>
        <div class="col-md-2">
            <p align="right">
                <a href="#" data-toggle="tooltip" data-placement="top" title="Info"> <span class="badge badge-pill badge-primary" data-toggle="modal" data-target="#exampleModal">i</span></a>
            </p>
        </div>
    </div>



<!-- Tickets Usuario-->
    if (Session["UserRol"].ToString() == "Usuario")
    {
            <table class="table table-hover">
                <tr>
                    <th>
                        @Html.ActionLink("Folio", "Index", new { sortOrder = ViewBag.FolioSortParm, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch })
                    </th>
                    <th>
                        @Html.ActionLink("Estatus", "Index", new { sortOrder = ViewBag.EstatusSortParm, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch })
                    </th>
                    <th>
                       @Html.ActionLink("Departamento", "Index", new { sortOrder = ViewBag.DepartamentoSortParm, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch })
                    </th>
                    <th>
                        @Html.ActionLink("Categoría", "Index", new { sortOrder = ViewBag.CategoriaSortParm, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch })
                    </th>
                    <th>
                        @Html.ActionLink("Ubicación", "Index", new { sortOrder = ViewBag.UbicacionSortParm, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch })
                    </th>
                    <th>
                        @Html.ActionLink("Fecha y hora", "Index", new { sortOrder = ViewBag.FechaSortParm, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch })
                    </th>
                    <th>
                        @Html.ActionLink("Fecha Compromiso", "Index", new { sortOrder = ViewBag.FCompromisoSortParm, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch })
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    string editt = "Edit";
                    if (item.depto == "SIS")
                    {
                        editt = "EditSis";
                    }

                    <tr class="table-row" data-toggle="popover" data-trigger="hover" data-content='@Html.Raw(item.descripcion)' style="@(item.estatus == "CE" ? "cursor:pointer; background-color:#ededed" : "cursor:pointer")" data-href= @Url.Action(editt, "t_tickets", new { id = item.folio, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch }, null)>
                        <td>
                            @if (item.depto == "MAN")
                            {
                                @Html.ActionLink(item.folio.ToString(), "Edit", "t_tickets", new { id = item.folio, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch }, null)
                            }
                           @if (item.depto == "SIS")
                           {
                            @Html.ActionLink(item.folio.ToString(), "EditSis", "t_tickets", new { id = item.folio, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch }, null)
                           }
                            @if (item.urgencia.ToString() != "0")
                            {
                                <span class="badge badge-pill badge-warning">!</span>
                            }
                        </td>
                       
                        @if ((item.req_autoriza == "1" && item.ind_autoriza != "1") || (item.req_autoriza2 == "1" && item.ind_autoriza2 != "1") || (item.req_autoriza3 == "1" && item.ind_autoriza3 != "1") || (item.req_autoriza4 == "1" && item.ind_autoriza4 != "1") || (item.req_autoriza5 == "1" && item.ind_autoriza5 != "1"))
                        {
                            <td>
                                <span class="text-danger">@Html.DisplayFor(modelItem => item.t_estatus.descripcion)</span>
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.t_estatus.descripcion)
                            </td>
                        }

                        <td>
                            @Html.DisplayFor(modelItem => item.t_depto.descripcion)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.t_catego.descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.t_areas.descripcion)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.fecha)
                        </td>
                        <td>
                            @Convert.ToString(string.Format("{0:MM/dd/yyyy}", item.f_compromiso))
                        </td>

                    </tr>
                }

            </table>
    }

<!-- Tickets Supervisor-->
if (Session["UserRol"].ToString() == "Supervisor")
{
    <table class="table  table-hover">
        <tr>
            <th>
                @Html.ActionLink("Folio", "Index", new { sortOrder = ViewBag.FolioSortParm, currentFilter = ViewBag.CurrentFilter,searchOption = ViewBag.CurrentSearch })
            </th>
            <th>
                @Html.ActionLink("Usuario", "Index", new { sortOrder = ViewBag.UsuarioSortParm, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch })
            </th>
            <th>
                @Html.ActionLink("Estatus", "Index", new { sortOrder = ViewBag.EstatusSortParm, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch })
            </th>
            <th>
                @Html.ActionLink("Categoría", "Index", new { sortOrder = ViewBag.CategoriaSortParm, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch })
            </th>
            <th>
                @Html.ActionLink("Ubicación", "Index", new { sortOrder = ViewBag.UbicacionSortParm, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch })
            </th>
            <th>
               @Html.ActionLink("Fecha y hora", "Index", new { sortOrder = ViewBag.FechaSortParm, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch })
            </th>

            <th>
                @Html.ActionLink("Fecha Compromiso", "Index", new { sortOrder = ViewBag.FCompromisoSortParm, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch })
            </th>
            <th>
                @Html.ActionLink("Prioridad", "Index", new { sortOrder = ViewBag.PrioridadSortParm, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch })
            </th>
            <th>
                @Html.ActionLink("Supervisor", "Index", new { sortOrder = ViewBag.SupervisorSortParm, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch })
            </th>
            

        </tr>

        @foreach (var item in Model)
        {
            string editt = "Edit";
            if (item.depto == "SIS")
            {
                editt = "EditSis";
            }
            <tr data-toggle="popover" data-trigger="hover" data-content='@Html.Raw(item.descripcion)' class="table-row" style="@(item.estatus == "CE" ? "cursor:pointer; background-color:#ededed" : "cursor:pointer")" data-href=@Url.Action(editt, "t_tickets", new { id = item.folio, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch }, null)>
                <td>
                    @if (item.depto == "MAN")
                    {
                        @Html.ActionLink(item.folio.ToString(), "Edit", "t_tickets", new { id = item.folio, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch }, null)
                    }
                    @if (item.depto == "SIS")
                    {
                        @Html.ActionLink(item.folio.ToString(), "EditSis", "t_tickets", new { id = item.folio, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch }, null)
                    }
                    @if (item.urgencia.ToString() != "0")
                    {
                        <span class="badge badge-pill badge-warning">!</span>
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.u_id)
                </td>
                @if ((item.req_autoriza == "1" && item.ind_autoriza != "1") || (item.req_autoriza2 == "1" && item.ind_autoriza2 != "1") || (item.req_autoriza3 == "1" && item.ind_autoriza3 != "1") || (item.req_autoriza4 == "1" && item.ind_autoriza4 != "1") || (item.req_autoriza5 == "1" && item.ind_autoriza5 != "1"))
                {
                    <td>
                        <span class="text-danger">@Html.DisplayFor(modelItem => item.t_estatus.descripcion)</span>
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.t_estatus.descripcion)
                    </td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.t_catego.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.t_areas.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha)
                </td>

                <td>
                    @Convert.ToString(string.Format("{0:MM/dd/yyyy}", item.f_compromiso))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prioridad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.t_usuarios1.nombre)
                </td>


            </tr>
        }

    </table>
}

if (Session["UserRol"].ToString() == "Admin")
{
    <table class="table  table-hover">
        <tr>
            <th>
                @Html.ActionLink("Folio", "Index", new { sortOrder = ViewBag.FolioSortParm, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch })
            </th>
            <th>
                @Html.ActionLink("Usuario", "Index", new { sortOrder = ViewBag.UsuarioSortParm, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch })
            </th>
            <th>
                @Html.ActionLink("Estatus", "Index", new { sortOrder = ViewBag.EstatusSortParm, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch })
            </th>
            <th>
                @Html.ActionLink("Ubicación", "Index", new { sortOrder = ViewBag.UbicacionSortParm, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch })
            </th>
            <th>
                @Html.ActionLink("Fecha y hora", "Index", new { sortOrder = ViewBag.FechaSortParm, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch })
            </th>
            <th>
                @Html.ActionLink("Categoría", "Index", new { sortOrder = ViewBag.CategoriaSortParm, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch })
            </th>
            <th>
                @Html.ActionLink("Supervisor", "Index", new { sortOrder = ViewBag.SupervisorSortParm, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch })
            </th>
            <th>
                @Html.ActionLink("Fecha Compromiso", "Index", new { sortOrder = ViewBag.FCompromisoSortParm, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch })
            </th>
            <th>
                @Html.ActionLink("Prioridad", "Index", new { sortOrder = ViewBag.PrioridadSortParm, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch })
            </th>



        </tr>

        @foreach (var item in Model)
        {
            string editt = "Edit";
            if (item.depto == "SIS")
            {
                editt = "EditSis";
            }
            
            <tr class="table-row" data-toggle="popover" data-trigger="hover" data-content='@Html.Raw(item.descripcion)'  style="@(item.estatus == "CE" ? "cursor:pointer; background-color:#ededed" : "cursor:pointer")" data-href=@Url.Action(editt, "t_tickets", new { id = item.folio, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch }, null)>
                <td>
                    @if (item.depto == "MAN")
                    {
                        @Html.ActionLink(item.folio.ToString(), "Edit", "t_tickets", new { id = item.folio, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch }, null)
                    }
                    @if (item.depto == "SIS")
                    {
                        @Html.ActionLink(item.folio.ToString(), "EditSis", "t_tickets", new { id = item.folio, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch }, null)
                    }
                    @if (item.urgencia.ToString() != "0")
                    {
                        <span class="badge badge-pill badge-warning">!</span>
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.u_id)
                </td>
                @if ((item.req_autoriza == "1" && item.ind_autoriza != "1") || (item.req_autoriza2 == "1" && item.ind_autoriza2 != "1") || (item.req_autoriza3 == "1" && item.ind_autoriza3 != "1") || (item.req_autoriza4 == "1" && item.ind_autoriza4 != "1") || (item.req_autoriza5 == "1" && item.ind_autoriza5 != "1"))
                {
                    <td>
                        <span class="text-danger">@Html.DisplayFor(modelItem => item.t_estatus.descripcion)</span>
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.t_estatus.descripcion)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.t_areas.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.t_catego.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.t_usuarios1.nombre)
                </td>
                <td>
                    @Convert.ToString(string.Format("{0:MM/dd/yyyy}", item.f_compromiso))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prioridad)
                </td>
            </tr>
        }

    </table>
}

<!--Página-->
<div class= "ml-1" >
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearch }))
</div>

}


<div id="exampleModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Info Menú</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <h6>Simbología</h6>
                    <span class="badge badge-pill badge-warning">!</span> =  Urgente
                    <br />
                    <span class="text-danger"> Revisión </span> = Esperando autorización
                </p>
                <h6>Guía</h6>
                <div class="container" style="height:400px; width:750px">
                    <img style="max-width:100%;height:400px; object-fit: contain" src="~/img/Ayuda Menu.PNG" />
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            title: "Descripción",
            delay: {
                show: 1000,
                hide: 50
            },
            placement: "top",
            show: function () {
                $(this).fadeIn('slow');
            }

        });

        $(".table-row").click(function () {
            window.document.location = $(this).data("href");
        });

    $("#bienvenida").fadeIn(3000);
    $('[data-toggle="tooltip"]').tooltip();
    @if(ViewBag.ticketcreado ==true)
    {
        <text>
    $("#alertnuevoticket").css('z-index', 10);
    $("#alertnuevoticket").fadeTo(4000, 1000).slideUp(1000, function () {
        $("#alertnuevoticket").slideUp(1000);
    });
    setTimeout(function () { $("#alertnuevoticket").css('z-index', 0); }, 5000);
    </text>
    }

     @if(ViewBag.ticketeditado ==true)
     {
         <text>
     $("#alertticketeditado").css('z-index', 10);
     $("#alertticketeditado").fadeTo(4000, 1000).slideUp(1000, function () {
         $("#alertticketeditado").slideUp(1000);
         });
     setTimeout(function () { $("#alertticketeditado").css('z-index', 0); }, 5000);
         </text>
     }

        @if(ViewBag.ticketerror ==true)
        {
            <text>
        $("#alertticketerror").css('z-index', 10);
            $("#alertticketerror").fadeTo(4000, 1000).slideUp(1000, function () {
                $("#alertticketerror").slideUp(1000);
            });
            setTimeout(function () { $("#alertticketerror").css('z-index', 0); }, 5000);
            </text>
        }

});
</script>