@model MaintenanceTicketSystem.Models.t_catego

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h4>¿Desea eliminar la siguiente categoría?</h4>
<div>
    <h4>Categoría</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Clave
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoria)
        </dd>
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nota)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a lista", "Index")
        </div>
    }
</div>
